<div class="p-2 m-2 border rounded">
    <div id="output" class="text-muted m-2"></div>
    <hr />
    <form class="m-2">
        <div class="form-row">
            <div class="col-sm-8">
                <div class="form-group bmd-form-group">
                    <label for="edEmail" class="bmd-label-floating">Email address</label>
                    <input id="edEmail" type="email" class="form-control" data-z-autochange-delay="300">
                    <span class="bmd-help">We'll never share your email with anyone else.</span>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-check mt-4">                    
                    <label class="form-check-label">
                        <input id="edSubscribe" class="form-check-input" type="checkbox" value checked>
                        Subscribe
                        <span class="form-check-sign"><span class="check"></span></span>
                    </label>
                    <span class="bmd-help">I want to receive newsletter</span>
                </div>
            </div>
        </div>
    </form>
</div>