<div class="card card-nav-tabs" style="min-height: 200px;">
        <div class="card-header card-header-info">
            <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                    <ul class="nav nav-tabs" id="folders" data-tabs="tabs">
                        <li class="nav-item">
                            <a class="nav-link active show" id="tab1" data-toggle="tab" href="#tab1" role="tab">Tab1</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="tab2" data-toggle="tab" href="#tab2" role="tab">Tab2</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="tab-content" id="demoContent">
                <div class="tab-pane fade" id="tab1Tab" role="tabpanel">
                    <div id="tab1Loader" ></div>
                </div>
                <div class="tab-pane fade" id="tab2Tab" role="tabpanel">
                    
                            <div id="tab2Loader" ></div>
                            <!-- <select id="edFile" class="custom-select m-2" data-z-id-field="name" data-z-label-field="name"></select> -->
                       
                    <div class="row">
                        <div id="editorContainer" class="col">
                            <!-- <div id="ed-9999" class="ml-2 border rounded" style="height: 100%;"></div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>