<div class="p-2 m-2 border rounded">
        <div id="output" class="text-muted m-2"></div>
        <hr />
        <form class="m-2">
            <div class="form-row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label class="bmd-label-floating" for="edCar">Cars</label>
                        <select class="form-control" id="edCar" maxlength="255">
                            <option>Volvo</option>
                            <option>Bmw</option>
                            <option>Citroen</option>
                            <option>Toyota</option>
                        </select>
                    </div>
                    <button id="cmdOk" type="button" class="btn btn-primary btn-inline">Click Me</button>
    
                </div>
            </div>
        </form>
    </div>