<div class='modal fade' tabindex='-1'>
    <div class='modal-dialog' role='document'>
        <div class='modal-content'>
            <div class='modal-header text-info'>
                <h5 id="title" class='modal-title'>Editador</h5>
                <button type='button' class='close' data-dismiss="modal"><span aria-hidden='true'>&times;</span></button>
            </div>
            <div class='modal-body'>
                <div id="msg"></div>
                <div id="mensajeError" class="alert">
                        <div class="container">
                            <div class="alert-icon">
                                <i class="material-icons">error_outline</i>
                            </div>
                            <b id="lblAccion">&nbsp;</b><span id="textoMensajeError"></span>
                        </div>
                    </div>
                <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group bmd-form-group">
                                <label for="edName" class="bmd-label-floating">Name</label>
                                <input type="text" class="form-control" id="edName" style="background-color: white;" />
                                <span class="bmd-help">Name</span>
                            </div>
                        </div>
                        <div class="col-sm-6"></div>
                    </div>
            
            <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group bmd-form-group">
                            <label for="edLastName" class="bmd-label-floating">LastName</label>
                            <input type="text" class="form-control" id="edLastName" style="background-color: white;" />
                            <span class="bmd-help">LastName</span>
                        </div>
                    </div>
            </div>
            <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group bmd-form-group">
                            <label for="edEmail" class="bmd-label-floating">Email</label>
                            <input type="text" class="form-control" id="edEmail" style="background-color: white;" />
                            <span class="bmd-help">Email</span>
                        </div>
                    </div>
            </div>
        </div>
            <div class='modal-footer'>
                <button id="cmdOk" class='btn btn-primary' type="button" data-dismiss="modal">Ok</button>
                <button id="cmdClose" class='btn btn-secondary' type="button" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

