<div class="card card-nav-tabs" style="min-height: 200px;">
    <div class="card-header card-header-primary">
        <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
                <ul class="nav nav-tabs" id="folders" data-tabs="tabs">
                    <li class="nav-item">
                        <a class="nav-link active show" id="preview" data-toggle="tab" href="#previewTab" role="tab">Preview</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="files" data-toggle="tab" href="#filesTab" role="tab">Files</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="tab-content" id="demoContent">
            <div class="tab-pane fade show active" id="previewTab" role="tabpanel">
                <div id="previewLoader" data-z-autoload="common/Empty"></div>
            </div>
            <div class="tab-pane fade" id="filesTab" role="tabpanel">
                <div class="row">
                    <div class="col pr-4">
                        <select id="edFile" class="custom-select m-2" data-z-id-field="name" data-z-label-field="name"></select>
                    </div>
                </div>
                <div class="row">
                    <div id="editorContainer" class="col">
                        <!-- <div id="ed-9999" class="ml-2 border rounded" style="height: 100%;"></div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>