<div class="container">
  <div class="p-2 m-2 border rounded">
      <div id="output" class="text-muted m-2"></div>
      <hr />
      <div class="m-2">
                      
          
          <table id="listaUsuarios" data-z-table="true" class="table table-sm table-hover table-striped table-bordered img-raised" data-z-edit="true" 
          data-z-edit-header-class="th-tabla-custom" 
          data-z-edit-cell-class="td-tabla-custom pt-1" 
          data-z-selectable-row-class="table-primary"
          data-z-page-details="detalle-lista" 
          data-z-pager="paginador-lista"
          style="font-size:80%;">
            <thead class="thead-dark">
              <tr class="tr-header-custom">
                <th data-z-col="name"  class="th-tabla-custom" data-z-cell-class="td-tabla-custom pt-1">Firstname</th>
                <th data-z-col="lastname" class="th-tabla-custom" data-z-cell-class="td-tabla-custom pt-1">Lastname</th>
                <th data-z-col="email" class="th-tabla-custom" data-z-cell-class="td-tabla-custom pt-1">Email</th>
              </tr>
              <button id="cmdAgregarUsuario" type="button" class="btn btn-sm btn-success">
                Add User
                <i class="fas fa-plus-square ml-2"></i>
            </button>
            </thead>
            <tbody></tbody>
          </table>
          <hr>
          <div class="row justify-content-center">
              <small id="detalle-lista" class="form-text text-muted"></small>
          </div>
          <div class="row justify-content-center">
              <ul id="paginador-lista" class="pagination pagination-sm pagination-centered" data-z-pagination="local" data-z-n-rows="10" data-z-n-pages="20"></ul>
          </div>
        </div>
  </div>
</div>