<div>
    <h1>ZMV - Creative Tim BS / Material Design Kit</h1>
    <hr />
    <h4>Starting Template</h4>
    <p>
        Z-MVC can be easily expanded tu support multiple GUI libraries. To start a new project using Z-MVC with
        <a target="_blank" href="https://www.creative-tim.com/product/material-kit">Creative Tim / BS Material Design Kit</a> support,
        create your project in a local folder using your favorite server technology and follow these steps:
        <ol>
            <li>Clone or donwload this demo project into a local directory.</li>
            <li>Copy subfolder <code>wwww/md-demo/intro/templates/bmd/www</code> as the root web folder of your new project</li>
            <li>Copy files at www/z-mvc in cloned project inside your project at "web-root"/lib</li>
            <li>Start modifiyng and coding from "web-root"/Main (js and html) in your project</li>
        </ol>        
    </p>
    <p>
        Starting template includes all Bootstrap and z-mvc required dependencies:
        <ul>
            <li>jquery.ui.min [3.2.1]</li>
            <li>popper.min.js</li>
            <li>bootstrap-material-design.min</li>
            <li>material-kit.min</li>
            <li>fontawsome-free-5.3.1-web (optional)</li>
        </ul>
        All optional script files from Z-MVC are included in index.html. Comment or delete unused files.
    </p>
    <hr />
    <h4>Creative Tim / Bootstrap MD Starting Template</h4>
    <br />  
    <div id="demo1" data-z-component="md-demo/common/Demo"></div>  
</div>