<div>
    <h1>Folders</h1>
    <hr />
    <h4>Required imports</h4>
    <ul>
        <li>z-mvc.js</li>
    </ul>
    <hr />
    <h4>Basic Demo Folders</h4><br />
    <p>
        Here you have tow tabs, which one with diferente content. Tabs or Folders are often used to separeted information
        or diferent content and load in the same space. Also is usefull for minimalize the view of a page.
    </p>
    <br>
    <div id="demo1" data-z-component="bootstrap-demo/common/Demo"></div>
    <hr />
    <h2>API Doc</h2>
    <h3>Class BootstrapTab extends ZTab</h3>
    <h4>Events</h4>
    <ul>
        <li>click()</li>
    </ul>
    <br>
    
    <div id="zComponentAPI" data-z-component="common/ZComponentAPI"></div>
    
</div>