<div>
    <h1>Show Dialogs</h1>
    <hr />
    <h4>Required imports</h4>
    <ul>
        <li>z-mvc.js</li>
    </ul>
    <hr />
    <h4>Basic Demo Dialogs</h4><br />
    <p>There are tree buttons, which one display a diferent pop-up, with a dialog. Success, Warning and Informative Dialogs</p>
    <br>
    <div id="demo1" data-z-component="bootstrap-demo/common/Demo"></div>
    <hr />
    <h2>API Doc</h2>
    <h3>Class ZButton extends ZComponent</h3>
    <h4>Events</h4>
    <ul>
        <li>click()</li>
    </ul>
    <div id="zComponentAPI" data-z-component="common/ZComponentAPI"></div>
</div>