<div>
        <h1>Bootstrap Tree</h1>
        <hr />
        <h4>Required imports</h4>
        <ul>
            <li>z-mvc.js</li>
            <li>z-mvc-bootstrap-tree.js</li>
        </ul>
        <hr />
        <h4>Basic Demo Bootstrap Tree</h4>
        <div id="demo1" data-z-component="md-demo/common/Demo"></div>

</div>