<div>
    <h1>INPUT</h1>
    <hr />
    <h4>Required imports</h4>
    <ul>
        <li>z-mvc.js</li>
        <li>z-mvc-bootstrap.js [required for validation feedback]</li>
    </ul>
    <hr />
    <h4>Basic Demo</h4><br />
    <div id="demo1" data-z-component="md-demo/common/Demo"></div>
    <hr />
    <h4>Bootstrap Validation Feedback</h4>
    <small>Use 'setValidation(bool)' to activate bootstrap validation messages</small>
    <br /><br />
    <div id="demo2" data-z-component="md-demo/common/Demo"></div>
    <hr />

    <h2>API Doc</h2>
    <h3>Class BootstrapInput extends ZInput</h3>
    <h4>Method</h4>
    <ul>
        <li>setValidation(bool):<small>Activate '.is-valid' or '.is-invalid' elements</small></li>
    </ul>
    <h3>Class ZInput extends ZComponent</h3>
    <h4>HTML Tag attributes</h4>
    <ul>
        <li>data-z-autochange-delay="300": Milliseconds</li>
    </ul>
    <h4>Events</h4>
    <ul>
        <li>change()</li>
    </ul>
    <div id="zComponentAPI" data-z-component="common/ZComponentAPI"></div>
</div>