<div>
    <h1>Selects</h1>
        <hr />
        <h4>Required imports</h4>
        <ul>
            <li>z-mvc.js</li>
        </ul>
        <hr />
        <h4>Select Basic Demo</h4>
        <div id="demo1" data-z-component="md-demo/common/Demo"></div>
        <hr />
        <h4>Select Z-MVC Demo</h4>
        <div id="demo2" data-z-component="md-demo/common/Demo"></div>
        <hr />
        <div id="zComponentAPI" data-z-component="common/ZComponentAPI"></div>
    </div>
</div>