<div>
    <h1>Tables</h1>
    <hr />
    <h4>Required imports</h4>
    <ul>
        <li>z-mvc.js</li>
        <li>z-mvc-table.js</li>
    </ul>
    <hr />
    <h4>Basic Demo Table</h4><br />
    
    <p>In this section you can add Users on a table, edit them and delete them. Also is a responsive table.</p>
    <br>
    <div id="demo1" data-z-component="md-demo/common/Demo"></div>
    <hr />
    <h2>API Doc</h2>
    <h3>Class ZTable extends ZComponent</h3>
    <h4>Events</h4>
    <ul>
        <li>table</li>
    </ul>
    <div id="zComponentAPI" data-z-component="common/ZComponentAPI"></div>
</div>