<div class="p-2 m-2 border rounded">
    <div id="output" class="text-muted m-2">Counter:0</div>
    <hr />
    <button id="cmdButton1" type="button" class="btn btn-primary btn-inline">Click Me</button>
    <button id="cmdButton2" type="button" class="btn btn-outline-primary btn-inline p-2">With Badge
        <span id="badge" class="badge badge-warning">0</span>
    </button>
    <button id="cmdButton3" type="button" class="btn btn-success btn-inline">With Icon
        <i class="fab fa-node-js ml-2 fa-lg"></i>
    </button>
    <a id="cmdButton4" href="#" class="btn btn-outline-dark btn-inline">From Link</a>
</div>