<div>
    <nav class="navbar navbar-dark bg-dark">
        <div class="navbar-brand ml-4">Z-MVC / Creative Tim - Bootstrap Material Kit</div>
    </nav>
    <div class="mx-4">
        <div class="row mt-2">
            <div class="col-sm-4">
                <div id="componentsTree" data-z-tree="true" class="list-group bg-light border rounded p-1" style="box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;"></div>
            </div>
            <div class="col-sm-8">
                <div id="mainLoader" data-z-autoload="common/Empty"></div>
            </div>
        </div>
    </div>
</div>